#nprogress {
  pointer-events: none
}

#nprogress::before,
#nprogress::after {
  background: #111;
  content: '';
  display: block;
  height: 50vh;
  position: absolute;
  top: 0;
  -webkit-transition: all 800ms cubic-bezier(.75, 0, .25, 1);
  transition: all 800ms cubic-bezier(.75, 0, .25, 1);
  width: 100%;
  z-index: 3
}

#nprogress.nprogress-complete::before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}

#nprogress::after {
  height: 49.6vh;
  top: 50.4vh
}

#nprogress.nprogress-complete::after {
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}

#nprogress .bar {
  background: transparent;
  height: .4vh;
  position: fixed;
  top: 50vh;
  left: 0;
  width: 100%;
  z-index: 1031
}

#nprogress .peg {
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 100%
}

#nprogress .peg::after {
  display: block;
  content: '';
  background: #111;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}
